<network{% if NETWORK_IP_TYPE == "6" %} ipv6='yes'{% endif %}>
  <name>{{ NETWORK_NAME }}</name>
{% if NETWORK_IP_TYPE == "4" %}
  <ip address='{{ NETWORK_SUBNET }}.0' netmask='{{ NETWORK_MASK }}'>
{% else %}
  <ip family='ipv6' address='{{ NETWORK_IPV6_SUBNET }}1' prefix='{{ NETWORK_IPV6_PREFIX }}'>
{% endif %}
{% if NETWORK_DHCP == "true" %}
<dhcp>
{% if NETWORK_IP_TYPE == "4" %}
<range start='{{ NETWORK_DHCP_START }}' end='{{ NETWORK_DHCP_STOP }}'/>
{% else %}
<range start='{{ NETWORK_DHCPV6_START }}' end='{{ NETWORK_DHCPV6_STOP }}'/>
{% endif %}
</dhcp>
{% endif %}
</ip>
</network>